ion-content {
    text-align: center;
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    color: #fff;
    font-weight: bold;
    font-size: 2.3rem;
    margin-top: 90px;
}

h2 {
    margin-top: 55px;
    color: #fff;
    font-size: 1.7rem;
}

ion-button {
    margin-top: 60px;
    height: 90px;
    width: 360px;
    text-transform: none;
    font-size: 1.5rem;
}