<ion-content>
  <h1>Votre commande est <br> arrivée !</h1>

  <h2>Veuillez scanner le QR-code<br> du livreur afin de finaliser<br> la livraison:</h2>

  <ion-button  class="ion-padding" color="tertiary" shape="round"  >
    <ion-icon name="qr-scanner" slot="start" (click)="scanCode()"></ion-icon>
     Scanner le QR Code
  </ion-button>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>
