ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
     text-align: center; 
    }

h1 {
    color: #fff;
    font-size: 3.3rem;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bold;
}

h2 {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
}

img {
    border-radius: 50%;
    height: 100px;
    position: absolute;
    left: 0;
    margin-left: 20px;
}

table, th, td {
    border: 2px solid #fff;
    width: 390px;
    color: #fff;
    font-size: 25px;
}
table {
    margin-left: 10px;
    margin-top: 30px;
}

