<ion-content>
    <h1>Suivi des paiements</h1>
    <!-- <ion-grid>   
    <ion-row *ngFor="let order of orders">
      <ion-col>
        <img src="{{img}}" alt="image utilisateur">
      </ion-col>
      <ion-col class="col-2">
        <h2>commande: {{id}}</h2>
        <h2>statut: {{status}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <h2>Solde en cours : <strong>{{amountOrders}} €</strong></h2>
  <h2>Historique des paiments</h2>
  <table class="table">
    <tr>
      <th>utilisateur</th>
      <th>id commande</th>
      <th>montant</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{firstname}} {{lastname}}</td>
      <td >{{id}}</td>
      <td >{{amount}} €</td>
    </tr>
  </table>
</ion-content>
  