<ion-content>
  <h1>Commandes autour <br> de vous:</h1>

  <ion-row *ngFor="let order of orders">
    <ion-col *ngIf="order.status === 'waiting'">
      <!-- <a href="/to-confirm-delivery/id/{{order.id}}"><img src="{{img}}" alt="image livré"></a> -->
      <button routerLink="/to-confirm-delivery"><img src="{{img}}" alt="image livré"> </button>
    </ion-col>
    <ion-col class="col-2">
      <!-- <a href="/to-confirm-delivery/id/{{order.id}}"><h3 *ngIf="order.status === 'waiting'"> <strong>{{order.user_info[0].lastname}}</strong></h3> -->
     <button routerLink="/to-confirm-delivery"><h3 *ngIf="order.status === 'waiting'">{{order.user_info[0].firstname}} <strong>{{order.user_info[0].lastname}}</strong></h3>
      <h3 *ngIf="order.status === 'waiting'">{{order.quantity }} {{order.itemName }}</h3> </button>
     
    </ion-col>
  </ion-row>
</ion-content>
