ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}


img {
    border-radius: 50%;
    height: 120px;
    position: absolute;
    left: 0;
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin-top: 90px; 
    margin-bottom: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
}

h3 {
    color: #fff;
    margin: 0px;
    line-height: 130%;
    font-size: 18.8px;

}
a {
    text-decoration: none;
}

strong {
    text-transform: uppercase;
}

.col-2 {
    margin-top: 38px;
    right: 35px;
}

ion-row {
    margin-bottom: 50px;
}

button {
    background: transparent;
    text-align: left;
}