ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h2 {
    margin-top: 90px;
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
}

h1 {
    color: #fff;
    font-size: 3.3rem;
    margin-top: 135px;
}


ion-button {
    text-transform: none;
    height: 80px;
    width: 359px;
    font-size: 1.45rem;
    margin-top: 150px;
}