<ion-content>
    <h2>Votre livraison est confirmée !</h2>
    <h1>À bientôt sur OpenUp !</h1>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Retour à l'accueil</ion-button>
  </ion-content>
  