<ion-content>
  <img src="{{img}}" alt="image livré">
  <h2>{{firstname}} <strong>{{lastname}}</strong></h2>

  <h1>Code avantages:</h1>
  <div >
    <h1 class="advantages-code">{{codeAdvantages}}</h1>
  </div>

      <ion-button class="ion-padding" color="tertiary" shape="round" (click)="advantages()">Voir mes avantages</ion-button>
      <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Retour</ion-button>
</ion-content>
