<ion-content>
  <h1>Récupération de la livraison</h1>
  <h3>Veuillez faire scanner le QR-code par<br> le commerçant pour valider la récupération du colis :</h3>
  <img src="{{img}}" alt="image qr-code">
  <ion-button class="ion-padding" color="tertiary" shape="round">Confirmer la livraison</ion-button>
</ion-content>
