ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

ion-button {
    text-transform: none;
    margin-top: 10px;
    height: 84px;
    width: 365px;
    font-size: 1.4rem;
}

h1 {
    margin-top: 80px; 
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
}

h3 {
    margin-top: 50px;
    color: #fff;
    font-weight: 500;
}

img {
    margin-top: 30px;
    height: 260px;
}


