.active-item {
    border-left: 3px solid #000;
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 80px;
}

ion-item {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 14px;
    font-weight: bold;
}

ion-button {
    //background: transparent;
    //border: 2px solid #000 ;
    text-transform: none;
    //--background: #373737;
    height: 46px;
    color: #000;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 1.2rem;
    --border-color: #000;
    margin-bottom: 30px;
}

// button {
//     border: 2px solid #000;
//     border-radius: 30%;
// }

.deconnect-btn {
    --background: transparent;
    --box-shadow: none;
    color: #000;
    font-style: italic;
    text-align: left;
}

ion-item {
    margin-left: 20px;
}
