ion-content {
    // --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    --background: linear-gradient( rgba(97, 94, 94, 0.692), #b8b8b83a);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}
strong {
    text-transform: capitalize;
}

h2 {
    //margin-top: 80px; 
    color: #fff;
    font-size: 1.9rem;
    text-transform: capitalize;
}

h1{
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 40px;
}

ion-button {
    margin: 0px;
    //margin-top: 45px;
    text-transform: none;
    height: 100px;
    width: 370px;
    font-size: 1.8rem;
}

img {
    margin-top: 60px;
    border-radius: 50%;
    height: 180px;
}

.advantages-code {
    background-color:rgba(94, 94, 92, 0.336); 
     padding-top: 23px;
     padding-bottom: 23px;
    margin-left: 80px;
    margin-right: 80px;
}

ion-icon {
    position: absolute;
    right: 30px;
    margin-top: 30px;
    color: #fff;
    font-size: 40px;
}
