
h1 {
    color: #000;
    font-size: 3.3rem;
    margin-top: 70px;
    margin-bottom: 90px;
    font-weight: bold;
    text-align: center;
}

img {
    border-radius: 50%;
    height: 100px;
    position: absolute;
    left: 0;
    margin-left: 20px;
}

table, th, td {
    border: 1px solid grey;
    width: 390px;
    color: #000;
    font-size: 23px;
    text-align: center;
}

table {
    margin-left: 10px;
}

