<ion-content>
    <h1>Suivi des commandes</h1>

  <table class="table">
    <tr>
      <th>utilisateur</th>
      <th>numéro</th>
      <th>statut</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{firstname}} {{lastname}}</td>
      <td >{{id}}</td>
      <td>{{status}}</td>
    </tr>
  </table>
</ion-content>
  