<ion-content>
  <h1>Suivi de l'activité</h1>
  <ion-item>
    <ion-label position="floating">Selectionnez une date <br>jj/mm/aaaa</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
  </ion-item>
  <table>
    <tr>
      <td class="one">
        Nombre de commandes
      </td>
      <td>
          {{numberOrders}}
      </td>
    </tr>
    <tr>
      <td class="one">
        Chiffre d'affaire
      </td>
      <td>
          {{CA}} €
      </td>
    </tr>
    <tr>
      <td class="one">
        Commissions
      </td>
      <td>
          {{commissions}} €
      </td>
    </tr>
  </table>
</ion-content>