h1 {
    color: #000;
    font-size: 2.2rem;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bold;
    text-align: center;
}
h2{
    color: rgb(22, 22, 22);
    font-size: 1rem;
    margin-left: 15px;
}

ion-label {
    line-height: 140%;
}

ion-datetime {
    margin-top: 7px;
}

table, tr {
    border: 1px solid grey;
    width: 360px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 120px;
}


.one {
    color: rgb(78, 78, 78);
}

