ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}
strong {
    text-transform: uppercase;
}

h1 {
    //margin-top: 80px; 
    color: #fff;
    font-weight: bold;
    font-size: 2.3rem;
}

h3 {
    color: #ffffff;

}

ion-button {
    text-transform: none;
    height: 80px;
    width: 310px;
    font-size: 1.2rem;
}

img {
    //margin-top: 10px;
    border-radius: 50%;
    height: 175px;
}
