<ion-content>
  <div class="background-image"></div>
    <h1>Vous avez choisi <br> la commande de:</h1>
    <img src="https://randomuser.me/api/portraits/women/50.jpg" alt="image livré">
    <h3>prénom <strong>nom</strong></h3>
    <h3>24 ans</h3>
    <h3>a commandé 3 baguettes</h3>
  
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="confirmedDelivery()">Livrer cette commande</ion-button>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Retour</ion-button>
</ion-content>
