<ion-content class="ion-padding">
    <div class="background-image"></div>
    <h1 class="ion-text-center">Merci</h1>
    <p class="ion-text-center">Vous êtes maintenant enregistré parmi les utilisateurs OpenUp!</p>
    <p class="ion-text-center">Vous pouvez dès à présent vous faire livrer ou effectuer vous-même des livraisons!</p>
    <div class="ion-text-center">
        <ion-button class="ion-padding" color="tertiary" (click)="login()" shape="round">Retour à l'accueil</ion-button>
    </div>
</ion-content>
