<ion-content>
  <h1>Votre paiement est accepté</h1>
  <h2>Votre commande est en<br> cours de traitement</h2>
  <ion-button class="ion-padding" color="tertiary" shape="round" (click)="ok()">OK</ion-button>
</ion-content>
