ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
}

h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 130px;
    font-style: italic;
}


ion-button {
    height: 110px;
    width: 230px;
    font-size: 1.8rem;
    margin-top: 170px;
}