<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      carte d'identité
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 *ngIf="images.length === 0 " class="ion-text-center">Selectionnez une image</h3>
  <ion-list>
    <ion-item *ngFor="let img of images; index as pos">
     <p>{{ yes }}</p> 
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      

      <!-- <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button> -->

    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon name="camera" slot="start"></ion-icon>
      Selectionner une image
    </ion-button>
  </ion-toolbar>
</ion-footer>
