ion-title {
    text-align: center;
    font-weight: bold;
  }
  
.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; //4px
    white-space: pre-wrap;
}
    
.app-user-message {
    background: #12FFF7;
    //background: #FA9A09;
    //background: #00FA9A;
    color: #ffffff;
    font-weight: bold;
}

.other-message {
    background: #EAEAEA;
    color: black;
}

.app-user-message .time {
    color: white;
}

.time {
    color: black;
    float: right;
    font-size: small;
}

.message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 30px;
    background: #fff;
    padding-left: 20px;
    padding-right: 35px;
    margin-left: 18px;
    margin-right: 15px;
    height: 50px;
    width: 320px;
}

.msg-btn {
    //--padding-start: -20em;
    position: absolute;
    right: 23px;
    --padding-end: 0.5em;
}

ion-textarea {
    height: 40px;
    font-size: 20px;
}

ion-icon {
    color : var(--ion-color-secondary);
}

.return {
    font-size: 30px;
    position: absolute;
    left: 0;
}

.send {
    z-index: 1;
    position: absolute;
    right: -3px;
}
  
  