<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="return"></ion-icon>
      nomContact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-text color="medium" class="ion-text-center">
      <p>tu es {{ appUser }}</p>
    </ion-text>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="message.user !== appUser" class="message other-message">
        <span>{{ message.msg }}</span>
        <div class="ion-text-right time"><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
      <ion-col offset="3" size="9" *ngIf="message.user === appUser" class="message app-user-message">
        <span>{{ message.msg }}</span>
        <div class="ion-text-right time"><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="mess">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea placeholder="écris un message..." auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <!-- <ion-col size="2"> -->
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only" class="send"></ion-icon>
        </ion-button>
      <!-- </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-footer>
