<ion-content>

  <h1>Commande</h1>
  <h3>Vous avez commandé du</h3>
  <h2>{{item}}</h2>
  <h3>Dans la {{categorie}}</h3>
  <h2>{{shop}}</h2>
  <h3>Nombre de {{items}} :</h3>

  <input type="tel" [(ngModel)]="numberItems">

  <ion-button class="ion-padding" color="tertiary" shape="round" (click)="continue()">Continuer</ion-button>
  <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Retour</ion-button>




</ion-content>
