ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 75px;
    color: #fff;
    font-weight: bold;
    font-size: 3.7rem;
}

h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    margin-top: 35px;
    color: #ffffff;
    font-size: 1.7rem;

}

input {
    margin-top: 20px;
    height: 50px;
    margin-bottom: 23px;
    text-align: center;
}

ion-button {
    text-transform: none;
    height: 80px;
    width: 310px;
    font-size: 1.8rem;
    margin: 0;
}