@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap");

ion-toolbar {
    --background: transparent;
}

ion-content {
    text-align: center;
        --background: rgba(117, 111, 112, 0.658);
}

ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Big Shoulders Display', cursive;
}

ion-item {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 10px;
}

ion-label {
    color: #ffffff;
    font-size: 1.2rem;
}

ion-button {
    height: 80px;
    width: 210px;
    font-size: 1.7rem;
    text-transform: none;
}





   
