<ion-content fullscreen class="ion-padding" id="fade-content">
  <h1>Inscription</h1>
  <!-- <ion-list> -->
    <ion-label class="label" positon="floating">Veuillez entrez votre prénom :</ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="firstname" placeholder="prénom"></ion-input>  
    </ion-item>
    <ion-label class="label" positon="floating">Veuillez entrez votre nom :</ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="lastname" placeholder="nom"></ion-input>  
    </ion-item>
    <ion-label positon="floating">Veuillez saisir un mot de passe :</ion-label>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Mot de passe"></ion-input>  
    </ion-item>
    <ion-label positon="floating">Confirmez mot de passe :</ion-label>
    <ion-item>
      <ion-input type="password" [(ngModel)]="confirm_password" placeholder="Mot de passe"></ion-input>  
    </ion-item>
    <ion-label positon="floating">Veuillez saisir votre adresse mail :</ion-label>
    <ion-item>
      <ion-input type="email" [(ngModel)]="email" placeholder="Adresse mail"></ion-input>  
    </ion-item>
    <ion-label positon="floating">Veuillez saisir votre téléphone :</ion-label>
    <ion-item>
      <ion-input type="tel" [(ngModel)]="phone" placeholder="_ _ . _ _ . _ _ . _ _"></ion-input>  
    </ion-item>
    <ion-label positon="floating">Veuillez saisir l'adresse de votre commerce :</ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="address" placeholder="Adresse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="city" placeholder="Ville"></ion-input>
      <ion-input type="number" [(ngModel)]="zipcode" placeholder="Zipcode"></ion-input>
    </ion-item>
    <ion-label positon="floating">Veuillez saisir votre numéro de siret :</ion-label>
    <ion-item>
      <ion-input type="tel" [(ngModel)]="siret" placeholder="numéro de siret"></ion-input>  
    </ion-item>
    <ion-label positon="floating">Veuillez saisir votre nom de commerce :</ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="nameShop" placeholder="nom de commerce"></ion-input>  
    </ion-item>
  <!-- </ion-list> -->
  <div>
    <ion-button class="ion-padding" color="tertiary" (click)="signIn()" name="signIn" shape="round">Valider</ion-button>
  </div>
</ion-content>

