<ion-content>
  <h1>Livraison <br> confirmée !</h1>

  <div class="btn">
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="backOrder()" [ngClass]="setClass()">Retour aux commandes</ion-button>
    <ion-button class="ion-padding" color="tertiary" shape="round" *ngIf="status === 'deliveryman' " (click)="navme('53 Avenue de la Voie Domitienne, 34500 Béziers')">voir le trajet</ion-button>
  </div>
</ion-content>
