ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 160px; //180
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
}

ion-button {
    text-transform: none;
    margin-top: 10px;
    height: 85px;
    width: 370px;
    font-size: 1.5rem;
}

img {
    border-radius: 50%;
    height: 5
}

.btn {
    margin-top: 150px; //230
}

.trader {
    margin-top: 165px;
}
