ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h2 {
    margin-top: 30px;;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    z-index: 1;
}

h1 {
    margin-top: 85px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.4rem;
}

ion-button {
    margin-top: 30px;
    height: 90px;
    width: 330px;
    font-size: 1.5rem;
    text-transform: none;
}
