<ion-content fullscreen class="ion-padding" id="fade-content">
    <h2>Connexion</h2>
    <h1>Je suis ...</h1>
    <ion-button  class="ion-padding" color="tertiary" (click)="traderLogin()" name="comRegister" shape="round">Commerçant</ion-button>
    <ion-button  class="ion-padding" color="tertiary" (click)="particularLogin()" name="partRegister" shape="round">Particulier</ion-button>
</ion-content>
  