// #shopLogo {
//   border-radius: 50%;  
// }
ion-header {
    text-align: center;
  }
  
  h1 {
      font-size: 70px;
      font-weight: bolder;
      text-align: center;
      margin-top: 80px; 
      text-transform: none;
      // color: #ffffff;
      color: black;
    }
  
  h2 {
      font-size: 25px;
      font-weight: bold;
      // text-align: center;
      margin-top: 30px; 
      padding: 6px;
      text-transform: none;
      // color: #ffffff;
      color: black;
    }
    
    p {
      font-size: 20px; 
      padding: 6px; 
      // padding-left: 25px; 
      // padding-right: 25px; 
      // color: #ffffff;
      color: black;
    }
    #shopAddress {
      margin: 0%;
    }
  
    ion-button {
      font-size: 25px;  
      height: 130px;
      width: 350px;
      padding: 25px; 
      text-transform: none; 
    }
  
    ion-content {
      // --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
      // background-image: url('../../../assets/img/openup5.png');
      // background-repeat: no-repeat;
      // background-position: center ;
      // background-size: cover;
      // color: white;
      color: black;
    }
  
  ion-grid {
      padding: 0px;
  }
  // ion-row {
  //     width: 100%;
  //     height: 150px;
  // }
  ion-item {
      width: 100%;
      height: 150px;
  }
  ion-thumbnail {
      width: 100%;
      height: 150px;
  }
  
  ion-label {
      position: absolute;
      // color: #ffffff;
      color: black;
      font-size: 30px;
      font-weight: bold;
      padding: 15px;
  }
  
  img {
      width: 100%;
      height: 150px;
  }
  
  