<ion-content>
    <ion-header *ngFor="let data of shopData">
      <h2 id="shopName">{{ data.name }}</h2>
      <p id="shopAddress">{{ data.address }}</p>
    </ion-header>
  
  
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let detail of shopProducts">
          <ion-card>
            <img src="{{ detail.imgProduit }}" />
            <ion-card-header>
              <ion-card-subtitle>{{ detail.name }}</ion-card-subtitle>
              <ion-card-title>{{ detail.prix }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
    <!-- <ion-row *ngFor="let truc of shopProducts">
      <ion-col size="6" >
        <ion-card>
          <img src="{{ detail.imgProduit }}" />
          <ion-card-header>
            <ion-card-subtitle>{{ detail.name }}</ion-card-subtitle>
            <ion-card-title>{{ detail.prix }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-content>
  