<ion-content>
  <h1>Veuillez scanner le<br> QR-code du livreur<br> pour confirmer la<br> récupération du<br> colis</h1>

  <ion-button  class="ion-padding" color="tertiary" shape="round"  >
    <ion-icon name="qr-scanner" slot="start" (click)="scanCode()"></ion-icon>
     Scanner le QR Code
  </ion-button>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>
