//@import url('https://fonts.googleapis.com/css?family=Heebo:900|Khula:800&display=swap');

ion-toolbar {
    --background: transparent;
}

ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openup5.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 55px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    font-size: 5rem;
   // font-family: 'Heebo', sans-serif;
}

h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 55px;
}

ion-item {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;    
}

.input {
    height: 55px;
}

.a {
    margin-top: 20px;;
    font-size: 1.25rem;
    text-decoration: none;
    color: #000000;
    margin-bottom: 5px;;
    font-style: italic;
}

ion-button {
    margin-top: 10px;
    height: 90px;
    width: 330px;
    font-size: 1.5rem;
    text-transform: none;
}

.register-trader {
    font-size: 1.3rem;
}
