<ion-content fullscreen class="ion-padding" id="fade-content">
  <h1>OpenUp</h1>
  <h3>On peut tous se rendre service</h3>
  <ion-item>
    <ion-input class="input" type="email" [(ngModel)]="email" placeholder="email"></ion-input>  
  </ion-item>
  <ion-item>
    <ion-input class="input" type="password" [(ngModel)]="password" placeholder="Mot de passe"></ion-input>  
  </ion-item>
  <div class="a">
    <a href="" class="a">Mot de passe oublié ?</a>
  </div>
  <div>
    <ion-button class="ion-padding" color="tertiary" (click)="login(form)" shape="round">Connexion</ion-button>
    <!-- <ion-button class="ion-padding" color="tertiary" (click)="loginChoice()" shape="round">Connexion</ion-button> -->
    <ion-button class="ion-padding" color="tertiary" (click)="register()" shape="round">S'inscrire</ion-button>
  </div>
  <a (click)="registerTrader()" class="a register-trader">Vous êtes commerçant ? Inscrivez vous !</a>
</ion-content>
