<ion-content>
  <h2>Livraison finie !</h2>
  <h1>MERCI !</h1>
  <h3>Veuillez faire scanner le QR-code par</h3>
  <h4>{{firstname}} <strong>{{lastname}}</strong></h4>
  <img src="{{img}}" alt="image qr-code">
  <ion-button class="ion-padding" color="tertiary" shape="round">Retour à l'accueil</ion-button>
</ion-content>
