<ion-header>
  <ion-toolbar color="primary">
    <ion-title>données</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of accounts">
        <ion-label class="ion-text-wrap">
          <h3>{{ item.firstname }}</h3>
        </ion-label>   
       </ion-item>
  </ion-list>

</ion-content>
