h1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin-top: 80px; 
    text-transform: none;
    color: #ffffff;
  }

h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px; 
    padding: 16px;
    text-transform: none;
    color: #ffffff;
  }
  
p {
    font-size: 30px;  
    padding-left: 25px; 
    padding-right: 25px; 
    color: #ffffff;
}

ion-button {
    font-size: 25px;  
    height: 130px;
    width: 350px;
    padding: 25px; 
    text-transform: none; 
}

ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openup5.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    color: white;
}

ion-grid {
    padding: 0px;
}

ion-row {
    width: 100%;
    height: 150px;
}

ion-item {
    width: 100%;
    height: 150px;
}

ion-thumbnail {
    width: 100%;
    height: 150px;
}

ion-label {
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}

img {
    width: 100%;
    height: 150px;
}
