<ion-content>

    <ion-header no-border>
      <h2>Je souhaite commander... </h2>
    </ion-header>
  
    <ion-grid>
      <ion-row class="row" responsive-sm class="ion-wrap" *ngFor="let pics of shopCatPics | keyvalue">
        <ion-thumbnail item-start (click)="showBoutics(pics.key)">
          <img src="{{ pics.value }}">
        </ion-thumbnail>
        <ion-label class="ion-text-left">{{ pics.key }}</ion-label>
      </ion-row>
    </ion-grid>
    
  </ion-content>
  