ion-content {
    //--background: linear-gradient( rgba(104, 102, 102, 0.692), #b8b8b83a);
    --background: linear-gradient( rgba(97, 94, 94, 0.692), #b8b8b83a);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1{
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 260px;
}

ion-button {
    text-transform: none;
    margin-top: 260px;
    height: 100px;
    width: 370px;
    font-size: 1.8rem;
}

