<ion-content>
  <h1 class="ion-text-center">Bonjour !</h1>
  <h3>Votre inscription est en<br>cours de traitement</h3>
  <h3>Merci de patienter vous receverez un mail de validation</h3>
  <h2>À bientôt sur OpenUp !</h2>
</ion-content>
