ion-content {
    --background: linear-gradient( rgba(97, 94, 94, 0.692), #b8b8b83a);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
  }

h1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin-top: 80px; 
    text-transform: none;
    color: #ffffff;
    margin-bottom: 60px;
  }
  
h3 {
    margin-top: 30px;
    font-size: 2rem;  
    color: #ffffff;
}

h2 {
    margin-top: 30px;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}
 