h1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin-top: 80px; 
    text-transform: none;
    color: #ffffff;
  }
  
  p {
    font-size: 30px;  
    padding-left: 25px; 
    padding-right: 25px; 
    color: #ffffff;
  }

  ion-button {
    font-size: 25px;  
    height: 130px;
    width: 350px;
    padding: 25px; 
    text-transform: none; 
  }

  ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    color: white;
  }
