<ion-content>
  <h1>Un livreur a accepté votre commande !</h1>
  <h2>Votre commande est en<br> cours de route.</h2>
  <h3>Vous validerez la<br> réception de celle-ci avec<br> le livreur.</h3>
  <h3>Vous serez débité lorsque le livreur retirera la commande.</h3>
  <ion-button class="ion-padding" color="tertiary" shape="round" (click)="confirmOrder()">Confirmer la livraison</ion-button>
</ion-content>

