ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 65px;
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
}

h2 {
    margin-top: 35px;
    color: #fff;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 140%;
}

h3 {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 45px;
    font-style: italic;
    line-height: 140%;
}

ion-button {
    text-transform: none;
    height: 110px;
    width: 380px;
    font-size: 1.8rem;
}