<ion-content>
      <ion-icon (click)="openMenu()"ios="ios-menu" md="md-menu"></ion-icon>
  <img src="{{img}}" alt="image profile">
  <h2>{{data.firstname}} <strong>{{ data.lastname}}</strong></h2>
  <div>
    <ion-icon class="heart" name="heart" (click)="countClick()" [ngClass]="setClasses()"></ion-icon> 
    <h4 *ngIf="clickCounter !== 0">{{clickCounter}}</h4>
  </div>

  <div class="description">
    <h3>Statut : <strong *ngIf="data.role !== 'user'"> Commerçant </strong></h3>
    <h3 *ngIf="data.role !== 'trader'">Statut : <strong> Particulier </strong></h3>
    <h3>Livraisons effectuées : <strong >{{ ordersByDeliverer }} </strong></h3>
    <h3>Commandes passées : <strong>{{ ordersByOrderer }}</strong></h3>
  </div>

      <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Retour</ion-button>
</ion-content>
