@import"https://ionicframework.com/docs/v3/ionicons/";

.heart {
    //font-size: 34px;
    transition: 0.3s all;
    position: absolute;
    right: 185px;
    top: 310px;
    margin-top: 20px;
    font-size: 40px;  
}

.fullHeart {
    color: #B9172F;
}

.emptyHeart {
    color: #fff;
}

h4 {
    color: grey;
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    left: 235px;
    top: 320px;
}

ion-content {
    --background: linear-gradient( rgba(97, 94, 94, 0.692), #b8b8b83a);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

ion-icon {
    position: absolute;
    right: 30px;
    margin-top: 30px;
    color: #fff;
    font-size: 40px;
}

strong {
    text-transform: capitalize;
}

h2 {
    //margin-top: 80px; 
    color: #fff;
    font-size: 1.9rem;
    text-transform: capitalize;
}

h3{
    color: #ffffff;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3px;
}

ion-button {
    margin-top: 70px;
    text-transform: none;
    height: 110px;
    width: 240px;
    font-size: 1.8rem;
}

img {
    margin-top: 90px;
    border-radius: 50%;
    height: 180px;
}

.description {
    margin-top: 65px;
}
