ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 90px; 
    color: #fff;
    font-weight: bold;
    font-size: 2.3rem;
}

h2, h4 {
    color: #ffffff;
}

h2 {
    margin-top: 30px;
    font-size: 1.8rem;
}

.shop-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.55rem;
    margin-bottom: 90px;
}

ion-button {
    text-transform: none;
    height: 80px;
    width: 310px;
    font-size: 1.3rem;
}