<ion-content>
  <div class="background-image"></div>
    <h1>Livraison à effectuer :</h1>
    <h2><strong>{{quantity}} {{itemName}}  </strong></h2>
    <h2>de la</h2>
    <h2 class="shop-name">{{shopName}}</h2>
    <!-- <h4><i>3 rue Jean Moulin</i></h4>
    <h2>à l'adresse:</h2>
    <h2><strong>221b Baker Street</strong></h2> -->
  
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="confirmeDelivery()" >Confirmer la livraison</ion-button>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="proximityDelivery()" >Retour aux commandes</ion-button>
</ion-content>
