<ion-content>
    <h1>Commandes à <br> préparer :</h1>
  
    <ion-row *ngFor="let delivery of deliveries">
      <ion-col>
        <a href="/confirmed-delivery"><img src="{{img}}" alt="image livré"></a>
      </ion-col>
      <ion-col class="col-2">
        <a href="/confirmed-delivery"><h3>{{firstname}} <strong>{{lastname}}</strong></h3>
        <h3>{{numberItems}} {{items}}</h3></a> 
      </ion-col>
    </ion-row>
  </ion-content>
  