<ion-content fullscreen class="ion-padding" id="fade-content">
    <h1>Je souhaite...</h1>
    <div>
      <ion-button  class="ion-padding" color="tertiary" (click)="deliveryManStatus()" shape="round">Effecuer une livraison</ion-button>
      <ion-button  class="ion-padding" color="tertiary" (click)="ordererStatus()" shape="round">Être livré</ion-button>
    </div>
  </ion-content>
    