ion-toolbar {
    --background: transparent;
}

ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 120px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3.4rem;
    margin-bottom: 35px;
}

ion-button {
    text-transform: none;
    margin-top: 40px;
    height: 100px;
    width: 390px;
    font-size: 1.55rem;
}


