<ion-split-pane contentId="content">
  <ion-menu contentId="content">
    <ion-content>

      <ion-list>
        <img src="{{img}}" alt="">
        <h4>{{firstname}} <strong>{{lastname}}</strong></h4>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item no-border [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
            {{ p.title }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-button (click)="logout()" class="deconnect-btn">Se déconnecter</ion-button>
   
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>