ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 3.3rem;
    margin-top: 70px;
    margin-bottom: 130px;
    font-weight: bold;
}


ion-button {
    text-transform: none;
    margin-top: 10px;
    height: 100px;
    width: 390px;
    font-size: 1.55rem;
}