<ion-content>
    <h1>Suivi commerçant</h1>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Suivi des commandes</ion-button>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Suivi de l'activité</ion-button>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Suivi des paiements</ion-button>
  </ion-content>
  