<ion-content>

    <h1>Paiement</h1>
    <h3>Vous avez commandé </h3>
    <h2>{{numberItems}} {{items}}</h2>
    <h3>Vous serez débité de</h3>
    <h4>{{amount}}€</h4>
    <h5>Lorsqu'un livreur retirera<br> votre commande</h5>
    
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="continue()">Continuer</ion-button>
    <ion-button class="ion-padding" color="tertiary" shape="round" (click)="return()">Retour</ion-button>
  
  
  
  
  </ion-content>
  
