ion-content {
    --background: linear-gradient( rgba(104, 102, 102, 0.692), #ffffff18);
    background-image: url('../../../assets/img/openupBlur.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 75px;
    color: #fff;
    font-weight: bold;
    font-size: 3.7rem;
}

h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 40px;
}

h3 {
    margin-top: 30px;
    color: #ffffff;
    font-size: 1.7rem;
}


h4 {
    color: #fff;
    font-weight: bold;
    font-size: 3.3rem
}

h5 {
    margin-top: 30px;
    color: #ffffff;
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: 18px;
}

ion-button {
    text-transform: none;
    height: 80px;
    width: 310px;
    font-size: 1.8rem;
    margin: 0;
}